*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(110, 172, 165);
   
}

nav{

}

ul{
    display: flex;
    justify-content: space-between;

    
}

 ul  a{
    text-decoration: none;
    margin-top: 6px;
    font-size: 22px;
    color: white;
    margin-left: 2px;
    transition: 2s;
}

ul a:hover{
    color: #9BF1D0 ;
}

li{
    list-style-type: none;
    margin-top: 6px;
}

li a{
    text-decoration: none;
    font-size: 18px;
    
}

/*ends nav*/

.header{
    background-image: url(images/food/Project\ Cover1.jpg);
    height: 600px;
    width: 100%;
    opacity: 0.5;
    background-position: center;
    overflow: hidden;
    transition: 2s;
    

}
.header:hover{
    
    opacity: 1;
}

.banner{
    border-bottom: 2px solid white;
    margin-top:200px;
    opacity: 1;
    
}

 h1{
    
    display: inline;
    font-size: 70px;
    margin-left: 30%;

}  
.headding{
    margin-top: 30px;
} 

.headding p{
    display: inline-block;
    font-size: 30px;
    margin-left: 13px;
    color: rgba(255, 255, 255, 0.719);

}

.headding a{
    border: 1px solid white;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 21px;
    color: white;
    text-transform: uppercase ;
}

/*ends hed*/

.body{
    height: 330px;
    width: 100%;
    background-color:#2A2F4A ;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 7px;
}

.title{
    margin-top: 80px;
    
    margin-left: 15px;
}

.title h2{
    border-bottom: 2px solid white;
    display: inline-block;
    margin: 15px ;
    font-size: 50px;
    color: white;

}

.title p{
    margin-left: 17px;
    font-size: 24px;
    color: white;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.title a{
    margin-left: 16px;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 22px;
}
/*ends title*/

.imagine{
    display: flex;
    justify-content: space-between;
    height: 370px;
    width: 100%;
}



.imagine-title1{
    width: 30%;
    background-image: url(images/food/Project\ Cover2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    opacity: 0.5;
    transition: 2s;
    margin-left: 10px;

}

.imagine-title1:hover{
    opacity: 1;
}

.imagine-title2{
    width: 30%;
    background-image: url(images/food/Project\ Cover4.png);
    background-repeat: no-repeat;
    height: 350px;
    transition: 2s;
    opacity: 0.5;
}

.imagine-title2:hover{
    opacity: 1;
}

.imagine-title3{
    width: 30%;
    background-image: url(images/food/Project\ Cover5.png);
    background-repeat: no-repeat;
    height: 350px;
    opacity: 0.5;
    padding: 10px;
    margin-right: 13px;
    transition: 2s;
}

.imagine-title3:hover{
    opacity: 1;
}

.imagine-title1 h3{
    margin-left: 10px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    font-size: 50px;
    border-bottom: 2px solid white;
}

.imagine-title1 p{
    margin-left: 11px;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 10px;
    color:white;
    letter-spacing: 2px;
}

.imagine-title1 a{
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    

}

.imagine-title2 h3{
    margin-left: 10px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    font-size: 50px;
    border-bottom: 2px solid white;
    
}

.imagine-title2 p{
    margin-left: 11px;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 10px;
    color:white;
    letter-spacing: 2px;
}

.imagine-title2 a{
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    

}

.imagine-title3 h3{
    margin-left: 10px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    font-size: 50px;
    border-bottom: 2px solid white;
    
}

.imagine-title3 p{
    margin-left: 11px;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 10px;
    color:white;
    letter-spacing: 2px;
}
.imagine-title3 a{
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}


textPath

